@if (movie) {
<div class="movie-detail">
	<div class="poster">
		<img
			[src]="getFullImagePath(movie.poster_path)"
			alt="{{ movie.title }}"
		/>
	</div>
	<div class="details">
		<h1>{{ movie.title }}</h1>
		<p class="original-title">
			{{ movie.original_title }} ({{
				movie.original_language.toUpperCase()
			}})
		</p>
		<p class="release-date">
			Release Date: {{ movie.release_date | transformDateFormat }}
		</p>
		<p class="rating">
			Rating: {{ movie.vote_average | transformRating }} / 10
		</p>
		<p class="overview">{{ movie.overview }}</p>
	</div>
</div>
} @else {
<p>{{ textEmpty }}</p>
}
