<div class="movie-detail">
	<div class="poster">
		<img [src]="allMovies.poster_path" alt="{{ allMovies.title }}" />
	</div>
	<div class="details">
		<h1>{{ allMovies.title }}</h1>
		<p class="original-title">
			{{ allMovies.original_title }} ({{
				allMovies.original_language.toUpperCase()
			}})
		</p>
		<p class="release-date">
			Release Date: {{ allMovies.release_date | transformDateFormat }}
		</p>
		<p class="rating">
			Rating: {{ allMovies.vote_average | transformRating }} / 10
		</p>
		<p class="overview">{{ allMovies.overview }}</p>
	</div>
</div>
