.movie {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 20rem;

	&__button-favorites,
	&__button-watch {
		margin: 0 20% 2%;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__rating {
		margin-bottom: 0.5rem;
		font-size: large;
	}
	&__poster {
		width: 10rem;
		margin-bottom: 1rem;
	}
	&__overview {
		padding: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
