<p-card
	header="{{ movie.title }}"
	subheader="{{ movie.release_date }}"
	styleClass="movie-card"
>
	<ng-template pTemplate="content">
		<div class="movie-card__flex">
			<p-button
				label="Watch"
				severity="contrast"
				class="movie-card__button-card watch"
				(click)="addToFavorites()"
			></p-button>
			<p-button
				label="Favorite"
				class="movie-card__button-card favorite"
				(click)="addToWatch()"
			></p-button>
		</div>
		<img
			[src]="movie.poster_path"
			[alt]="movie.title"
			class="movie-card__poster"
		/>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="movie-card__rating">
			<p>Rating: {{ movie.vote_average | transformRating }}</p>
		</div>
	</ng-template>
</p-card>
