<p-card
	[header]="movie.title"
	[subheader]="movie.release_date | transformDateFormat"
	[style]="{
		width: '360px',
		margin: '2rem 0.5rem 0rem',
		border: '1px solid #ddd',
		borderRadius: '10px',
		boxShadow: '0.8rem 0.8rem 0.5rem rgba(0, 0, 0, 0.1)'
	}"
	styleClass="movie-card"
>
	<ng-template pTemplate="content">
		<div class="movie-card__flex">
			@if (pageType === 'favorite') {
			<p-button
				[icon]="buttonWatchLater.icon"
				[label]="buttonWatchLater.label"
				[severity]="buttonWatchLater.severity"
				[class]="buttonWatchLater.class"
				(click)="addToWatchLater()"
			></p-button>
			<p-button
				[icon]="buttonRemove.icon"
				[label]="buttonRemove.label"
				[severity]="buttonRemove.severity"
				[class]="buttonRemove.class"
				(click)="removeFromFavorites()"
			></p-button>
			} @else if (pageType === 'watchLater') {
			<p-button
				[icon]="buttonFavorites.icon"
				[label]="buttonFavorites.label"
				[class]="buttonFavorites.class"
				(click)="addToFavorites()"
			></p-button>
			<p-button
				[icon]="buttonRemove.icon"
				[label]="buttonRemove.label"
				[severity]="buttonRemove.severity"
				[class]="buttonRemove.class"
				(click)="removeFromWatchLater()"
			></p-button>
			} @else {
			<p-button
				[icon]="buttonWatchLater.icon"
				[label]="buttonWatchLater.label"
				[severity]="buttonWatchLater.severity"
				[class]="buttonWatchLater.class"
				(click)="addToWatchLater()"
			></p-button>
			<p-button
				[icon]="buttonFavorites.icon"
				[label]="buttonFavorites.label"
				[class]="buttonFavorites.class"
				(click)="addToFavorites()"
			></p-button>
			}
		</div>
		<img
			[src]="movie.poster_path"
			[alt]="movie.title"
			class="movie-card__poster"
		/>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="movie-card__footer">
			<div class="movie-card__rating">
				<p>Rating: {{ movie.vote_average | transformRating }}</p>
			</div>
			<p-button
				[icon]="buttonShowMore.icon"
				[label]="buttonShowMore.label"
				[severity]="buttonShowMore.severity"
				[class]="buttonShowMore.class"
				[routerLink]="['/movie', movie.id]"
				routerLinkActive="active-link"
			></p-button>
		</div>
	</ng-template>
</p-card>
