/* Resetting Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
	color: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input::-ms-clear {
	display: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}
