<main class="wrapper">
	<div class="catalog">
		<div class="catalog__all">
			<h2>All Movies</h2>
			<app-movie-list
				[movies]="movies"
				(addFavorite)="addFavorite($event)"
				(addWatch)="addWatch($event)"
			></app-movie-list>
		</div>

		<div class="catalog__favorite">
			@if (favoriteMovies.length > 0) {
			<h2>Favorites</h2>
			<app-movie-list [movies]="favoriteMovies"></app-movie-list>
			}
		</div>

		<div class="catalog__watch">
			@if (watchMovies.length > 0) {
			<h2>Watch List</h2>
			<app-movie-list [movies]="watchMovies"></app-movie-list>
			}
		</div>
	</div>
</main>
