<nav class="sidebar">
	<a [routerLink]="['popular']" routerLinkActive="active-link">
		<i [class]="iconClasses.popular"></i> {{ titledSidebar.titledPopular }}
	</a>
	<a [routerLink]="['top-rate']" routerLinkActive="active-link">
		<i [class]="iconClasses.topRate"></i> {{ titledSidebar.titledTopRate }}
	</a>
	<a [routerLink]="['now-playing']" routerLinkActive="active-link">
		<i [class]="iconClasses.nowPlaying"></i>
		{{ titledSidebar.titledNowPlaying }}
	</a>
	<a [routerLink]="['upcoming']" routerLinkActive="active-link">
		<i [class]="iconClasses.upcoming"></i>
		{{ titledSidebar.titledUpcoming }}
	</a>
</nav>
